{% extends 'base.html.twig' %}

{% block title %}Fast Food Advisor - Accueil{% endblock %}

{% block body %}
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="{{asset('videos/kebab.mp4')}}" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3 text-white">Fast food Advisor</h1>
                <p class="lead mb-0">Trouvez le meilleur fast-food autour de vous</p>
            </div>
        </div>
     </div>
</header>

<div class="row content-container p-0 m-0 w-100 justify-content-center">

    {# Dernières recherches #}
    {# <div class="row justify-content-center mb-4 mt-4">
        <div class="col-12 p-4">
            <h3>Vos dernières recherches</h3>
        </div>
        <div class="col-12 p-4"></div>
    </div> #}

    {# Recherche #}
    <div class="row w-100 d-flex align-items-start flex-row search-container">
        <h3 class="w-100 p-4 text-white"><i class="fas fa-search-location"></i> On va où chef ? </h3>
        <div class="align-self-start mb-max ml-auto mr-auto flex-column">
            <div class="search">
                <input class="search_input" type="text" name="" list="CITY_LIST" placeholder="Où allez-vous ?">
                <a href="#" class="search_icon">
                    <i class="fa fa-search"></i>
                </a>
            </div>

            <datalist id="CITY_LIST"></datalist>
        </div>
    </div>
     
    {# Card Map #}
    <div class="row w-100 card-map-container bg-orange justify-content-center">
        <div class="col-12 p-0 h-100">
            <div class="card h-100 card-map border-0">
                <div class="row h-100  no-gutters">
                    <div class="col-md-7 card-container bg-orange text-white">
                        <div class="card-body">
                            <h2 class="card-title"><i class="fas fa-hamburger"></i> Préparez votre estomac</h2>
                            <p class="card-text">Vous allez quelque part et vous devrez sûrement vous restaurer ? 
                            Planifiez votre pause déj' en retrouvant les fast-foods proches de votre destination !</p>
                        </div>
                    </div>
                    
                    <div class="col-md-5 card-bg-img-map"></div>
                </div>
            </div>
        </div>
    </div>

    {# Vous pourriez aimer #}

    {# Restaurants les mieux notés #}
    <div class="row w-100 mt-4 mb-4 hall-of-fame-container justify-content-center">
        <div class="col-12">
            <h3><i class="fas fa-trophy"></i> Hall Of Fame</h3>
            <h5>Découvrez les restaurants les mieux notés de Fast-Food Advisor</h5>

            <div class="row">
                {% for restaurant in topFiveRestaurants %}
                    <a class="col m-1 justify-content-center">
                        <div class="row card-top5 p-2">
                            <div class="col-4">
                                {% if restaurant.picture == null %}
                                    <img class="card-img-top" src="{{asset('images/restaurants/restaurant.png')}}" />
                                {% else %}
                                    <img class="card-img-top" src="{{asset('images/restaurants/' ~ restaurant.picture )}}" />
                                {% endif %}
                                
                            </div>
                            <div class="col-8 p-0">
                                <h5 class="card-title">{{restaurant.name}}</h5>
                                <p class="card-text"><i class="fas fa-map-marker-alt text-danger"></i> {{restaurant.city.name}} ({{restaurant.city.zipcode}})</p>
                            </div>
                        </div>
                    </a>                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
