{% extends 'base.html.twig' %}

{% block title %}Fast Food Advisor - Restaurants{% endblock %}

{% block body %}
<div class="row content-container  mt-4 p-0 m-0 w-100 justify-content-center">

    <div class="col-12 mb-4">
        {{form_start(form)}}
            <div class="row align-items-center">
                <div class="col">
                    {{form_row(form.name, {'label': ' ', 'attr': {'placeholder': 'Nom du restaurant'}})}}
                </div>
                <div class="col">
                    {{form_row(form.city, { 'label': ' ', 'attr': {'class': 'city_search', 'placeholder': 'Ville', 'list': 'CITY_LIST'}} )}}
                    <datalist id="CITY_LIST"></datalist>
                </div>
                <div class="col-2 align-items-left">
                    <input class="btn btn-primary" type="submit" value="Filtrer" />
                </div>
            </div>    
        {{form_end(form)}}
    </div>
 
    <div class="col-12">
        <table class="table">
            <thead class="bg-primary text-white">
                <th>#</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville (CP)</th>
                <th>Email</th>
                <th>Tél.</th>
                <th></th>
            </thead>
            <tbody>
                {% for restaurant in restaurants %}
                    <tr>
                        <td>{{restaurant.id}}</td>
                        <td>{{restaurant.name}}</td>
                        <td>{{restaurant.address}}</td>
                        <td>{{restaurant.city.name}} ({{restaurant.city.zipcode}})</td>
                        <td>{{restaurant.email}}</td>
                        <td>{{restaurant.phone}}</td>
                        <td>
                            <div class="row">
                                <a class="btn btn-primary" href="{{ path('restaurant', {'id': restaurant.id}) }}"><i class="fas fa-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation navigation-pagination">
            {{ knp_pagination_render(restaurants) }}
        </div>
    </div>
</div>
{% endblock %}
