<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}">
        <link rel="stylesheet" href="{{ asset('css/leaflet.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('css/nanogallery2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/rateit.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% if '/admin' in app.request.uri %}
            <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
        {% endif %}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body class="{{ app.request.cookies.get('theme') }}">
        {% include "menu.html.twig" %}
        {% block body %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="{{ asset('js/leaflet.js') }}"></script>
        <script src="{{ asset('js/home.js') }}"></script>
        {% if '/map' in app.request.uri %}
            <script src="{{ asset('js/map.js') }}"></script>
        {% endif %}
        {% if '/restaurant' in app.request.uri %}
            <script src="{{ asset('js/jquery.nanogallery2.core.min.js') }}"></script>
            <script src="{{ asset('js/jquery.rateit.js') }}"></script>
            <script src="{{ asset('js/restaurant.js') }}"></script>
        {% endif %}
        <script src="{{ asset('js/city_search.js') }}"></script>
        {% if is_granted('ROLE_ADMIN') and '/admin/' in app.request.uri %}
            <script src="{{ asset('js/admin.js') }}"></script>
        {% endif %}
        
    </body>
</html>
