{% extends 'base.html.twig' %}

{% block title %}Fast Food Advisor - Inscription{% endblock %}


{% block body %}

    {{form_start(form, { 'attr' : { 'class': 'form-signin' } })}}
        
        {{ form_row(form.username, {
            'attr': {'placeholder': 'Saisir un nom d\'utilisateur'},
            'class': 'form-control',
            'label': 'Nom d\'utilisateur'
        })}}

        {{ form_row(form.email, {
            'attr': {'placeholder': 'Saisir une adresse mail'},
            'class': 'form-control',
            'label': 'Email'
        })}}

        {{ form_row(form.password, {
            'attr': {'placeholder': 'Saisir un mot de passe'},
            'class': 'form-control',
            'label': 'Mot de passe'
        })}}

        {{ form_row(form.passwordVerification, {
            'attr': {'placeholder': 'Saisir à nouveau le mot de passe'},
            'class': 'form-control',
            'label': 'Vérification du mot de passe'
        })}}

        <button class="btn btn-lg btn-success btn-block" type="submit">S'inscrire</button>
    {{form_end(form)}}
{% endblock %}
